body{
 
}

table,
table th, table td{
  border: 2px solid #000;
}

table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr th:nth-child(1){
  width:40%;
}


table th, table td{
  padding: 0.5em 0.6em; 
}

table thead th,
table tfoot td,
table tfoot th{
  background: #DDD;
  text-align: left;
}

table tbody tr:nth-child(even) td{
  background: #EEE;
}

table tbody tr:hover td{
  background: #444;
  color: #FFF;
}