<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/create">
            <fieldset>
                <legend>New Article</legend>
                 {{#if error}}
                 <div class="has-error">
                     <p>{{error}}</p>
                 </div>
                 {{/if}}

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Article Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTitle"
                               placeholder="Article Title" name="title" required value="{{title}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pictureUrl">Picture</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="pictureUrl"
                               placeholder="URL" name="pictureUrl" required value="{{pictureUrl}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required>{{content}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <a class="btn btn-default" href="/">Cancel</a>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>