@import url('typography.css');

body{
  padding: 2rem;
}

.site{
  max-width: 80rem;
  margin: 0 auto;
}

.site-header{
  border-bottom: 4px solid #333;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.site-header a{  
  text-decoration: none;
  color: rgb(163,31,52);
}
.site-header nav{

}

.site-header nav ul{
  
}

.site-header nav li{
  display: inline-block;
}

.site-header nav a{
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #999;
}
.site-header nav a:focus,
.site-header nav a:hover{
  border-color: #000;
  background: rgb(163,31,52);
  color: #ffffff;
  outline:none;
}
.site-footer{
  border-top: 4px solid #333;
  padding-top: 1rem;
  margin-top: 2rem;
}

/* 
 * Layout
 */

 .site-content{
   /* border: 4px solid #000; */
 }

 .main-content,
 .main-sidebar{
  display:inline-block;
 }

 .main-content{
  /* border: 4px solid #F00; */
  width:70%;
  padding-right: 2rem;
 }

 .main-sidebar{
  /* border: 4px solid #00F; */
  width:29%;
  vertical-align: top;
  padding-left:1rem;
 }

 .main-sidebar ul{
   padding: 1rem;
   padding-right:0;
   padding-top:0;
 }

 .main-sidebar > section{
    padding-bottom: 1.5rem;
 }